# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment variables and config files
*.env
config/

# Ignore logs
*.log

# Ignore node_modules
node_modules/
myvenv/
venv/
Dockers/myenv/

# Ignore database files
*.db

# Ignore all files in the temp folder except `important.txt`
temp/*
!temp/important.txt
.qodo
